<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".KanoasApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kanoas">

        <!--
            NOTA: Os ícones @mipmap/ic_launcher foram removidos intencionalmente.
            O projeto usa Compose Multiplatform e ainda não tem recursos de ícone gerados.
            Para adicionar ícones, use o Android Studio Image Asset Studio e adicione
            os mipmap nas densidades: mdpi, hdpi, xhdpi, xxhdpi, xxxhdpi.
            Quando os ícones existirem, adicione novamente:
                android:icon="@mipmap/ic_launcher"
                android:roundIcon="@mipmap/ic_launcher_round"
        -->

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.Kanoas">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
